:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --link-color: #2196f3;
  --primary-button-color: #2196f3;
  --secondary-button-color: #ffffff;
  --sectoin-color: #ffffff;
  --secondary-cection-color: #2f303a;
}

ul {
  list-style: none;
}

body {
  color: var(--primary-text-color);
}
/* heder */
.span-header {
  color: var(--link-color);
}

.span-logo {
  color: #212121;
}
.span-logo:hover {
  zoom: 110%;
}

.section .section-title {
  color: var(--title-text-color);
}
.contact .link {
  color: #2196f3;
}
.contact-list .linc,
.contact-list .tel {
  color: var(--title-text-color);
}
.site-nav .linc {
  color: #212121;
}
.site-nav .linc:hover,
.site-nav .linc:focus,
.contact-list .linc:hover,
.contact-list .tel:hover {
  color: var(--link-color);
}
.site-nav .linc.current {
  color: var(--link-color);
}
/* герой */
.accent {
  background-color: #2f303a;
}
.section .accent {
  color: #ffffff;
}
.button {
  background-color: var(--primary-button-color);
  color: var(--secondary-button-color);
}

/* подвал */

.footer {
  background-color: #2f303a;
  color: #ffffff;
}
.footer-logo {
  color: var(--link-color);
}
.span-footer {
  color: #ffffff;
}
.span-footer:hover {
  zoom: 110%;
}

.adress .adress-footer,
.adress .tel-footer {
  color: rgba(255, 255, 255, 0.6);
}
/* основной цвет текста <p> #757575 */
/* вторичный цвет текста <h> #212121 */
/* цвет ссылок и кнопок #2196F3*/
/* цвет адреса в хедер #FFFFFF  60 % */
/* первичный цвет фона #FFFFFF */
/*  вторичный цвет фона  #F5F4FA; */
